{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}


  {% block body %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{ asset('img/a-png-logo.png') }}" alt="logo-site" style="width:5%"/><a class="navbar-brand" href="#"> Autoscan </a>
     </nav>

    
     <div id="root"></div>
    
 {% endblock %}